<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<div class="inner-addon left-addon">
			<i class="glyphicon glyphicon-search"></i> <input type="text"
				class="form-control" ng-model="searchPacient" placeholder="Search" ng-change="pageChanged()"/>
		</div>
		<button class="btn btn-primary btn-md"
			ng-click="openAddPacientModal()"
			style="margin-top: -56px; margin-right: 500px;">Adauga
			pacient</button>
	</div>
	<!-- Table -->
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nume</th>
				<th>Prenume</th>
				<!-- <th>Seria</th> -->
				<th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="pacient in paginatedPacientsList">
				<td ng-click="goToPacientPage(pacient)" ng-if="!pacient.editMode" style="text-align: left;cursor: pointer;">{{pacient.original.name}}</td>
				<td style="text-align: left;" ng-if="pacient.editMode"><input
					type="text"
					ng-init="pacient.edit.name = pacient.original.name"
					ng-model="pacient.edit.name"></td>
				<td ng-click="goToPacientPage(pacient)" ng-if="!pacient.editMode" style="text-align: left;cursor: pointer;">{{pacient.original.surname}}</td>
				<td style="text-align: left;" ng-if="pacient.editMode"><input
					type="text"
					ng-init="pacient.edit.surname = pacient.original.surname"
					ng-model="pacient.edit.surname"></td>
				<td style="text-align: left;"><button ng-if="!pacient.editMode"
						ng-click="pacient.editMode = true">
						<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
					</button>
					<button ng-if="!pacient.editMode"
						ng-click="openInfoPacientModal(pacient)">
						<i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i>
					</button>
					<button ng-if="pacient.editMode"
						ng-click="saveEdit(pacient)">
						<i class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></i>
					</button>
					<button ng-if="!pacient.editMode"
						ng-click="deletePacient(pacient)">
						<i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
					</button>
					<button ng-if="pacient.editMode"
						ng-click="pacient.editMode = false">
						<img src="shared/img/Undo.png">
					</button></td>
			</tr>
		</tbody>
	</table>
	<div uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true" ng-change="pageChanged()" num-pages="numPages"></div>
	<pre>Page: {{currentPage}} of {{numPages}}</pre>
</div>