<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<div class="inner-addon left-addon">
			<i class="glyphicon glyphicon-search"></i> 
			<input type="text" class="form-control" ng-model = "searchPacient" placeholder="Search" />
		</div>
		<button class="btn btn-primary btn-md" style="margin-top: -56px; margin-right: 500px;">Adauga pacient</button>
	</div>
	<!-- Table -->
	<table class="table">
		<thead>
			<th>Nume</th>
			<th>Prenume</th>
			<th>Seria</th>
			<th></th>
		</thead>
		<tr ng-repeat="pacient in pacientsList | filter:searchPacient">
			<td ng-if="pacient.editMode === false" style="text-align: left;">{{pacient.firstName}}</td>
			<td ng-if="pacient.editMode === true"><input type="text"
				value=pacient.firstName ng-model="editPacient.firstName"></td>
			<td style="text-align: left;">{{pacient.lastName}}</td>
			<td style="text-align: left;">{{pacient.seria}}</td>
			<td style="text-align: left;"><button>
					<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
				</button>
				<button>
					<i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i>
				</button></td>
		</tr>
	</table>
</div>