
<!-- DATEEE -->
<div ng-controller="datePickerFilterCtrl">
	<div class="row">
		<div class="col-md-4">
		<h4>From:</h4>
			<p class="input-group">
				<input type="text" class="form-control"  ng-change="setDateValues()" readonly="readonly" show-weeks="false"
					uib-datepicker-popup="yyyy/MM/dd" ng-model="dateFrom"
					is-open="status.openedFrom" min-date="" max-date=""
					datepicker-options="dateOptions"
					date-disabled="" ng-required="true"
					close-text="Close" /> <span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="open($event,'statusFrom')">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</p>
		</div>
		<div class="col-md-4">
		<h4>To:</h4>
			<p class="input-group">
				<input type="text" class="form-control" readonly="readonly"  ng-change="setDateValues()" show-weeks="false"
					uib-datepicker-popup="yyyy/MM/dd" ng-model="dateTo"
					is-open="status.openedTo" min-date="dateFrom" max-date=""
					datepicker-options="dateOptions"
					date-disabled="" ng-required="true"
					close-text="Close" /> <span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="open($event, 'statusTo')">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</p>
		</div>
	</div>
	<hr />
</div>
<!-- END OF DATE -->