<div class="modal-header">
	<h3 class="modal-title">Add New Absence</h3>
</div>
<div class="modal-body">
	<p>Description:
		<input
            type="text"
            class="form-control"
            ng-model="event.title">
    </p>
    <p>Event type:
        <select ng-model="event.type" class="form-control">
            <option value="important">Concediu</option>
            <option value="warning">Permesso</option>
            <option value="special">Overtime</option>
        </select>
    </p>
	
	<table class="table table-bordered">

		<thead>
		  <tr>
			<th>Starts at</th>
			<th>Ends at</th>
		  </tr>
		</thead>
		
		<tbody>
			<td>
				<p class="input-group" style="max-width: 250px">
					<input
						type="text"
						class="form-control"
						readonly
						uib-datepicker-popup="dd MMMM yyyy"
						ng-model="event.startsAt"
						is-open="vm.opened"
						close-text="Close" >
					<span class="input-group-btn">
						<button
							type="button"
							class="btn btn-default"
							ng-click="vm.toggle($event, 'opened', event)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
				<uib-timepicker
					ng-model="event.startsAt"
					hour-step="1"
					minute-step="15"
					show-meridian="true">
				</uib-timepicker>
			</td>
			
			<td>
				<p class="input-group" style="max-width: 250px">
					<input
						type="text"
						class="form-control"
						readonly
						uib-datepicker-popup="dd MMMM yyyy"
						ng-model="event.endsAt"
						is-open="vm.openedEnd"
						close-text="Close">
					<span class="input-group-btn">
						<button
							type="button"
							class="btn btn-default"
							ng-click="vm.toggleEnd($event, 'openedEnd', event)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
				<uib-timepicker
					ng-model="event.endsAt"
					hour-step="1"
					minute-step="15"
					show-meridian="true">
				</uib-timepicker>
			</td>
		</tbody>
		
	</table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.saveEvent(event.title, event.type, event.startsAt, event.endsAt)">OK</button>
</div>