<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<i ng-include="" src="'app/managePage/manage.html'"></i>
		<div class="row">
			<div class="col-sm-3">
				<div class="inner-addon left-addon">
					<i class="glyphicon glyphicon-search"></i> <input type="text"
						class="form-control" ng-model="searchDoctor" placeholder="Search"
						ng-change="pageChanged()" />
				</div>
			</div>
			<div class="col-sm-3">
				<button class="btn btn-primary btn-md"
					ng-click="openAddDoctorModal()">Adauga doctor</button>
			</div>
		</div>
	</div>
	<!-- Table -->
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nume</th>
				<th>Prenume</th>
				<th>Culoare</th>
				<th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="doctor in paginatedDoctorsList">
				<td ng-click="goTodoctorPage(doctor)" ng-if="!doctor.editMode"
					style="text-align: left;">{{doctor.edit.name}}</td>
				<td style="text-align: left;" ng-if="doctor.editMode"><input
					type="text" class="form-control" ng-model="doctor.edit.name"></td>
				<td ng-if="!doctor.editMode" style="text-align: left;">{{doctor.edit.surname}}</td>
				<td style="text-align: left;" ng-if="doctor.editMode"><input
					type="text" class="form-control" ng-model="doctor.edit.surname"></td>
				<td ng-if="!doctor.editMode" style="text-align: left;">
					<div class="input-color">
						<div class="color-box"
							style="background-color: {{doctor.edit.color"></div>
						<!-- Replace "#FF850A" to change the color -->
					</div>
				</td>
				<td style="text-align: left;" ng-if="doctor.editMode"><input
					colorpicker type="text" class="form-control"
					ng-model="doctor.edit.color"></td>
				<td style="text-align: left;"><button ng-if="!doctor.editMode"
						ng-click="doctor.editMode = true">
						<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
					</button>
					<button ng-if="!doctor.editMode"
						ng-click="openInfoDoctorModal(doctor)">
						<i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i>
					</button>
					<button ng-if="doctor.editMode" ng-click="saveEdit(doctor)">
						<i class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></i>
					</button>
					<button ng-if="!doctor.editMode" ng-click="deleteDoctor(doctor)">
						<i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
					</button>
					<button ng-if="doctor.editMode"
						ng-click="doctor.editMode = false;undoDocChanges(doctor);">
						<img src="shared/img/Undo.png">
					</button></td>
			</tr>
		</tbody>
	</table>
	<div uib-pagination total-items="totalItems" ng-model="currentPage"
		max-size="maxSize" class="pagination-sm" boundary-links="true"
		force-ellipses="true" ng-change="pageChanged()" num-pages="numPages"></div>
	<pre>Page: {{currentPage}} of {{numPages}}</pre>
</div>