<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Dental Clinic</title>
		
		<link href="../../assets/css/bootstrap.css" rel="stylesheet" />
		<link href="../../assets/css/style.css" rel="stylesheet" />
	</head>

	<body class="quizzler viewport">
		<div class="quiz-section">
		    <header>
		        <div class="quiz-title text-center">
		            <h1>CHESTIONAR DE EVALUARE A STARII GENERALE</h1>
		        </div>
		    </header>
		
		    <div class="challenge" >
		        <div class="question">
		            <h3>Suferiti de alergii?</h3>
		
			        <div ng-repeat="choice in challenge.choices" class="repeat-wrap">
			            <div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Da</label>
			            </div>
						<div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Nu</label>
			            </div>
			        </div>			            
		        </div>
		        <div class="question">
		            <h3>Suferiti de alergii?</h3>
		
			        <div ng-repeat="choice in challenge.choices" class="repeat-wrap">
			            <div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Da</label>
			            </div>
						<div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Nu</label>
			            </div>
			        </div>			            
		        </div>
		        <div class="question">
		            <h3>Suferiti de alergii?</h3>
		
			        <div ng-repeat="choice in challenge.choices" class="repeat-wrap">
			            <div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Da</label>
			            </div>
						<div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Nu</label>
			            </div>
			        </div>			            
		        </div>
		        <div class="question">
		            <h3>Suferiti de alergii?</h3>
		
			        <div ng-repeat="choice in challenge.choices" class="repeat-wrap">
			            <div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Da</label>
			            </div>
						<div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Nu</label>
			            </div>
			        </div>			            
		        </div>
		        <div class="question">
		            <h3>Suferiti de alergii?</h3>
		
			        <div ng-repeat="choice in challenge.choices" class="repeat-wrap">
			            <div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Da</label>
			            </div>
						<div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Nu</label>
			            </div>
			        </div>			            
		        </div>
		        <div class="question">
		            <h3>Suferiti de alergii?</h3>
		
			        <div ng-repeat="choice in challenge.choices" class="repeat-wrap">
			            <div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Da</label>
			            </div>
						<div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Nu</label>
			            </div>
			        </div>			            
		        </div>
		        <div class="question">
		            <h3>Suferiti de alergii?</h3>
		
			        <div ng-repeat="choice in challenge.choices" class="repeat-wrap">
			            <div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Da</label>
			            </div>
						<div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Nu</label>
			            </div>
			        </div>			            
		        </div>
		        <div class="question">
		            <h3>Suferiti de alergii?</h3>
		
			        <div ng-repeat="choice in challenge.choices" class="repeat-wrap">
			            <div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Da</label>
			            </div>
						<div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Nu</label>
			            </div>
			        </div>			            
		        </div>
		        <div class="question">
		            <h3>Suferiti de alergii?</h3>
		
			        <div ng-repeat="choice in challenge.choices" class="repeat-wrap">
			            <div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Da</label>
			            </div>
						<div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Nu</label>
			            </div>
			        </div>			            
		        </div>
		        <div class="question">
		            <h3>Suferiti de alergii?</h3>
		
			        <div ng-repeat="choice in challenge.choices" class="repeat-wrap">
			            <div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Da</label>
			            </div>
						<div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Nu</label>
			            </div>
			        </div>			            
		        </div>
		        <div class="question">
		            <h3>Suferiti de alergii?</h3>
		
			        <div ng-repeat="choice in challenge.choices" class="repeat-wrap">
			            <div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Da</label>
			            </div>
						<div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Nu</label>
			            </div>
			        </div>			            
		        </div>
		        <div class="question">
		            <h3>Suferiti de alergii?</h3>
		
			        <div ng-repeat="choice in challenge.choices" class="repeat-wrap">
			            <div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Da</label>
			            </div>
						<div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Nu</label>
			            </div>
			        </div>			            
		        </div>
		        <div class="question">
		            <h3>Suferiti de alergii?</h3>
		
			        <div ng-repeat="choice in challenge.choices" class="repeat-wrap">
			            <div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Da</label>
			            </div>
						<div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Nu</label>
			            </div>
			        </div>			            
		        </div>
		        <div class="question">
		            <h3>Suferiti de alergii?</h3>
		
			        <div ng-repeat="choice in challenge.choices" class="repeat-wrap">
			            <div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Da</label>
			            </div>
						<div class="input-group input-radio">
			                <input type="radio" name="choice" ng-model="challenge.selected" ng-value="{{ $index }}" id="{{ $index }}">
			                <label for="{{ $index }}" class="radio-label">Nu</label>
			            </div>
			        </div>			            
		        </div>
		        
		        <div class="next-action clearfix">
		            <button ng-click="next()" class="btn btn-success pull-right blue-btn">Salveaza</button>
		        </div>
		    </div>
		</div>
	</body>
</html>